{
    "no_delay": true,
    "locals": [
        {
            "local_address": "0.0.0.0",
            "local_port": 1080,
            "protocol": "socks"
        },
        {
            "local_address": "0.0.0.0",
            "local_port": 1081,
            "protocol": "http"
        },
        {
            "local_address": "127.0.0.1",
            "local_port": 53,
            "protocol": "dns",
            "mode": "tcp_and_udp",
            "local_dns_address": "223.5.5.5",
            "local_dns_port": 53,
            "remote_dns_address": "8.8.8.8",
            "remote_dns_port": 53,
            "client_cache_size": 64
        },
        {
            "local_address": "::1",
            "local_port": 53,
            "protocol": "dns",
            "mode": "tcp_and_udp",
            "local_dns_address": "223.5.5.5",
            "local_dns_port": 53,
            "remote_dns_address": "8.8.8.8",
            "remote_dns_port": 53,
            "client_cache_size": 64
        },
        {
            "protocol": "tun",
            "mode": "tcp_and_udp",
            "tun_interface_name": "shadowsocks-tun",
            "tun_interface_address": "10.255.0.1/24",
            "tun_interface_destination": "10.255.0.2/24"
        }
    ],
    "route_rules": {
        "dns_cache_capacity": 100000,
        "dns_cache_refresh_batch_size": 500,
        "dns_cache_refresh_enabled": true,
        "dns_cache_ttl_seconds": 604800,
        "dns_intercept_mode": "tun",
        "dns_ipv4_only": true,
        "geoip_sources": [
            "https://github.com/Loyalsoldier/v2ray-rules-dat/releases/latest/download/geoip.dat"
        ],
        "proxy_domain_sources": [
            "https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/gfw.txt"
        ]
    },
    "servers": [
        {
            "server": "x.x.x.x",
            "server_port": 443,
            "password": "xxxx",
            "timeout": 300,
            "method": "aes-256-gcm",
            "mode": "tcp_and_udp",
            "plugin": "D:\\software\\shadowsocks\\bin\\xray-plugin.exe",
            "plugin_opts": "tls;host=forsimple.yyy.net;path=/sspath;mux=8;fast-open"
        }
    ],
    "web_admin": {
        "listen": "127.0.0.1:9090"
    }
}
